body {
    display: grid;
    height: 100vh;
    background-color: rgb(134, 162, 238);
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "header contentNav";
    
}

header { 
    grid-area:header;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    background-clip: content-box;
    padding:10px;

}

.contentNav {
    grid-area:contentNav;
    background-color: rgb(255, 255, 255);
    background-clip: content-box;
    padding:10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}


.projectsNav { 
    display:flex; 
    flex-direction: column;
    gap:20px;
    
}

button {
    all:unset;
    font-size: larger;
    padding:15px;
  }

.deleteBtn {
    all:revert;
    margin-left: 30px;
}


nav { 
    display:flex;
}

.addProjectsNav {
    align-self: flex-end;
    justify-content: flex-end;
    display: flex;
    font-size:xx-large;
  }


.addTasks button {
    font-size:xx-large;
}

#content > * {
    font-size: larger;
    padding:10px; 
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}