body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "header content"
        "header tasks";
}

header { 
    grid-area:header;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

#content {
    grid-area:content;
    
}

.addTasks {
    grid-area:tasks;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.projectsNav { 
    display:flex; 
    flex-direction: column;
}